<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Panel de Administración</title>
  <link rel="stylesheet" href="/static/css/Admin.css" />
</head>
<body>
  <div class="admin-container">
    <!-- Menú Superior -->
    <nav class="admin-menu">
      <div class="logo">Mi Admin - Green Lake Village</div>
      <div class="user-profile">
        <img src="/static/images/profile.png" alt="Imagen de perfil" class="profile-img" />
        <span class="user-name">Nombre de Usuario</span>
        <div class="user-dropdown" id="userDropdown">
          <ul>
            <li><a href="#">Configuración</a></li>
            <li><a href="/">Cerrar sesión</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Contenido Principal -->
    <div class="admin-content">
      <div class="admin-grid">
        <!-- Opciones Menu -->
        <div class="panel mapa-opcion-1">
          <ul>
            <li>
              <img src="/static/images/inicio.png" alt="Inicio" class="option-icon" />
              <a href="/admin">Inicio</a>
            </li>
            <li>
              <img src="/static/images/profile.png" alt="Usuarios" class="option-icon" />
              <a href="#">Usuarios</a>
            </li>
            <!-- <li>
              <img src="/static/images/reports.png" alt="Reportes" class="option-icon" />
              <a href="#">Reportes</a>
            </li> -->
            <li>
              <img src="/static/images/Reseñas.png" alt="Reseñas" class="option-icon" />
              <a href="#">Reseñas</a>
            </li>
          </ul>
        </div>

        <div class="Bienvenida">
          <p>hola Pablo,</p>
          <h2>Overview</h2>
        </div>
        
        <!-- Área Principal (Dashboard) -->
        <div class="panel mapa">
          <!-- Incrustar Prueba1.html -->
          <iframe id="mapIframe" src="/MapaAdmin" ></iframe>
        </div>
        
        <!-- Widgets: Primer Grupo -->
        <!-- <div class="panel admin-widget-1">Widget 1</div> -->
        <div class="panel admin-widget-2">Widget 2</div>
        <div class="panel admin-widget-3">Widget 3</div>
        <div class="panel admin-widget-4">Widget 4</div>
      </div>
    </div>
  </div>
  <script src="/static/js/Admin.js"></script>
</body>
</html>
