<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preferencias - GreenLake Village</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preferences.css') }}">
</head>
<body>
    <div class="container">
        <h1>Selecciona tus preferencias</h1>

        <!-- Contenedor para las preferencias -->
        <div id="preference-container">
            <!-- Preferencia de montaña -->
            <div class="preference" id="montana">
                <img src="/static/Images/mountain.png" alt="Montaña">
                <p>¿Quieres hacer senderismo por montañas?</p>
                <div class="options">
                    <button class="btn yes">Sí</button>
                    <button class="btn no">No</button>
                </div>
            </div>

            <!-- Preferencia de playa -->
            <div class="preference" id="playa">
                <img src="/static/Images/beach.png" alt="Playa">
                <p>¿Te gustaría pasar tiempo en la playa?</p>
                <div class="options">
                    <button class="btn yes">Sí</button>
                    <button class="btn no">No</button>
                </div>
            </div>

            <!-- Preferencia de lagos -->
            <div class="preference" id="lagos">
                <img src="/static/Images/lake.png" alt="Lagos">
                <p>¿Te gustan los lagos?</p>
                <div class="options">
                    <button class="btn yes">Sí</button>
                    <button class="btn no">No</button>
                </div>
            </div>

            <!-- Preferencia de senderismo por bosques -->
            <div class="preference" id="senderismo-bosques">
                <img src="/static/Images/forest.png" alt="Bosque">
                <p>¿Te gustaría explorar senderos ecológicos en un bosque?</p>
                <div class="options">
                    <button class="btn yes">Sí</button>
                    <button class="btn no">No</button>
                </div>
            </div>

            <!-- Preferencia de ciclismo de montaña -->
            <div class="preference" id="ciclismo-montana">
                <img src="/static/Images/bike.png" alt="Ciclismo de montaña">
                <p>¿Prefieres recorrer rutas en bicicleta por paisajes naturales?</p>
                <div class="options">
                    <button class="btn yes">Sí</button>
                    <button class="btn no">No</button>
                </div>
            </div>

            <!-- Preferencia de observación de aves -->
            <div class="preference" id="observacion-aves">
                <img src="/static/Images/bird.png" alt="Observación de aves">
                <p>¿Te interesa aprender sobre las especies de aves locales?</p>
                <div class="options">
                    <button class="btn yes">Sí</button>
                    <button class="btn no">No</button>
                </div>
            </div>

            <!-- Preferencia de tecnologia -->
            <div class="preference" id="tech">
                <img src="/static/Images/tech.png" alt="tech">
                <p>¿Te gustaría aprender acerca de tecnología sostenible?</p>
                <div class="options">
                    <button class="btn yes">Sí</button>
                    <button class="btn no">No</button>
                </div>
            </div>

            <!-- Preferencia de visita a granjas orgánicas -->
            <div class="preference" id="granja-organica">
                <img src="/static/Images/farm.png" alt="Granja orgánica">
                <p>¿Te gustaría visitar una granja para aprender sobre agricultura ecológica?</p>
                <div class="options">
                    <button class="btn yes">Sí</button>
                    <button class="btn no">No</button>
                </div>
            </div>

            <!-- Preferencia de rutas gastronómicas sostenibles -->
            <div class="preference" id="ruta-gastronomica">
                <img src="/static/Images/food.png" alt="Ruta gastronómica">
                <p>¿Te gustaría degustar productos locales y sostenibles?</p>
                <div class="options">
                    <button class="btn yes">Sí</button>
                    <button class="btn no">No</button>
                </div>
            </div>

            <!-- Preferencia de ruta turística en vehiculo ecológico -->
            <div class="preference" id="vehiculo-ecologico">
                <img src="/static/Images/quad.png" alt="Ruta turística en vehiculo ecológico">
                <p>¿Te gustaría explorar rutas turísticas en un vehículo ecológico?</p>
                <div class="options">
                    <button class="btn yes">Sí</button>
                    <button class="btn no">No</button>
                </div>
            </div>

            <!-- Preferencia de kayak o canotaje -->
            <div class="preference" id="kayak">
                <img src="/static/Images/kayak.png" alt="Kayak">
                <p>¿Te gustaría practicar kayak en un entorno natural y tranquilo?</p>
                <div class="options">
                    <button class="btn yes">Sí</button>
                    <button class="btn no">No</button>
                </div>
            </div>

            <!-- Preferencia de estancias en alojamientos ecológicos -->
            <div class="preference" id="alojamientos-ecologicos">
                <img src="/static/Images/eco-lodge.png" alt="Alojamiento ecológico">
                <p>¿Te gustaría hospedarte en un lugar que utiliza energías renovables y prácticas ecológicas?</p>
                <div class="options">
                    <button class="btn yes">Sí</button>
                    <button class="btn no">No</button>
                </div>
            </div>

            <!-- Preferencia de relajación en spas naturales -->
            <div class="preference" id="spa-natural">
                <img src="/static/Images/spa.png" alt="Spa natural">
                <p>¿Te gustaría disfrutar de un spa ecológico rodeado de naturaleza?</p>
                <div class="options">
                    <button class="btn yes">Sí</button>
                    <button class="btn no">No</button>
                </div>
            </div>

            <!-- Sección para ver preferencias seleccionadas -->
            <div class="selected-preferences" style="display:none;">
                <h2>Resumen de tus preferencias:</h2>
                <ul id="preferences-list"></ul>
                <button class="btn" id="cancel">Cancelar</button>
                <button class="btn" id="save-preferences">Guardar Preferencias</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/preferences.js') }}"></script>
</body>
</html>
